<header>
    <h1>Foodbuddy</h1>

    <nav>
        <ul>
            <li><a href="#">
                    <img src="../../static/images/food.png" alt="Dit is het logo">
                    <p>Vind jou perfecte foodbuddy</p>
                </a></li>
            <li><a href='#'>
                    <p>Mijn account</p>
                </a></li>
        </ul>
    </nav>
</header>