<header>
    <h1>Foodbuddy</h1>

    <nav>
        <ul>
            <li><a href="#">
                    <img src="static/images/food.png" alt="Logo foodbuddy">
                </a></li>
            <li><a href='#'>
                    <img src="static/images/mijnAccount.png" alt="Mijn Account">
                </a></li>
        </ul>
    </nav>

    <hr>

</header>