<main id="matches">
  {{! Section 1 }}
  <section>
  <form action="/formulier" method="post" id="filters">
    <h1 class="filter">Filter</h1>
     <h2>Maak een keuze</h2>
    <div id="type">
      <h1>Intresse</h1>
      <div class="bump">
        <div class="box1">
            <input type="checkbox" id="Sports" name="Intresse" value="Sports" required>
          <label for="clothing" class="check-box"></label>
          <h4>Sports</h4>
        </div>
        <div class="box1">
          <input type="checkbox" id="Music" name="Intresse" value="Music">
          <label for="equipment" class="check-box"></label>
          <h4>Music</h4>
        </div>
        <div class="box1">
          <input type="checkbox" id="Food" name="Intresse" value="Food">
          <label for="trips" class="check-box"></label>
          <h4>Food</h4>
        </div>
        <div class="box1">
          <input type="checkbox" id="Drinks" name="Intresse" value="Drinks">
          <label for="social" class="check-box"></label>
          <h4>Drinks</h4>
        </div>
      </div>
    </div>

    <div class="slidecontainer">
      <input type="range" min="1" max="60" class="slider" id="myRange" name="Leeftijd" value="30">
      <p>Leeftijd <span id="demo"></span></p>
    </div>

    <button class="opslaan" type="submit">Opslaan</button>
    <!--END AGE RANGE-->
  </form>
  </section>
  {{! Section 2 }}
  <section class="scrolling-wrapper">

    {{! Loop met hbs om alle matches te weergeven }}
    {{#each gebruikers}}
      <a class="cards" href="#">
        <img class="gebruikers" src={{this.imgSrc}} alt="Foto van persoon" />
        <div>
          <h3>{{this.naam}}</h3>
          <p>{{this.locatie}}</p>
          
          <form action="/delete" method="post">
            <input name="match" type="hidden" value="{{this.naam}}"/>
            <button type="submit">Delete</button>
          </form>
        </div>
      </a>
    {{/each}}
  </section>
</main>