<main id="matches">
    <section>
        <h2>matches</h2>
        <button>Filteren</button>
    </section>

    <section>
        <div>
            <img src="" alt="foto van een dier">
            <h3>Buldog</h3>
            <p>Dierentehuis Hoorn</p>
        </div>

        <div>
            <img src="" alt="foto van een dier">
            <h3>Kitten</h3>
            <p>Asiel Den Helder</p>
        </div>

        <div>
            <img src="" alt="foto van een dier">
            <h3>Hamster</h3>
            <p>Dierentehuis Hoorn</p>
        </div>
    </section>
</main>