<main id="matches">
  {{! Section 1 }}
  <section>
    <form action="/formulier" method="post" id="filters">
      <h1 class="filter">Filter</h1>
      <h2>Maak een keuze</h2>
      <div id="type">
        <h1>Intresse</h1>
        <div class="bump">
          <div class="box1">
            <input
              type="radio"
              id="Sports"
              name="Intresse"
              value="Sports"
              required 
              {{!-- required als je nog geen radio button hebt aangeklikt, krijg je een malding (zonder javascript) --}}
            />
            <h4>Sports</h4>
          </div>
          <div class="box1">
            <input type="radio" id="Music" name="Intresse" value="Music" />
            <h4>Music</h4>
          </div>
          <div class="box1">
            <input type="radio" id="Food" name="Intresse" value="Food" />
            <h4>Food</h4>
          </div>
          <div class="box1">
            <input type="radio" id="Drinks" name="Intresse" value="Drinks" />
            <h4>Drinks</h4>
          </div>
        </div>
      </div>

      <div class="slidecontainer">
      {{!-- Range slider --}}
        <input
          type="range"
          min="1"
          max="60"
          class="slider"
          id="myRange"
          name="Leeftijd"
          value="30"
        />
        <p>Leeftijd <span id="demo"></span></p>
      </div>
      <button class="opslaan" type="submit">Opslaan</button>
    </form>
  </section>

  {{! Section 2 }}
  <section class="scrolling-wrapper">

    {{! Loop met hbs om alle matches te weergeven }}
    {{#each gebruikers}}
      <a class="cards">
        <img class="gebruikers" src={{this.imgSrc}} alt="Foto van persoon" />
        <div>
          <h3>{{this.naam}}</h3>
          <p>{{this.locatie}}</p>

          <form action="/delete" method="post">
            <input name="match" type="hidden" value="{{this.naam}}" />
            <button type="submit">Delete</button>
          </form>
        </div>
      </a>
    {{/each}}
  </section>
</main>