<main id="matches">
    <section>
        <h2>matches</h2>
        <button>Filteren</button>
    </section>

    <section>
        <div>
            <img src="" alt="foto persoon">
            <h3>Janno</h3>
            <p>32 jaar, Amstelveen</p>
        </div>

        <div>
            <img src="" alt="foto persoon">
            <h3>Aris</h3>
            <p>20 jaar, medemblik</p>
        </div>

        <div>
            <img src="" alt="foto persoon">
            <h3>Anneke</h3>
            <p>19 jaar, Delft</p>
        </div>
    </section>
</main>