<main id="matches">
{{!-- Section 1 --}}
<form action="/formulier" method="post" id="filters">
  <h1 class="bigHead">Filter</h1>
  <h2 class="bump"><span class="results">aantal</span> Results Found</h2>

  <div id="type">
    <h1>Intresse</h1>
    <div class="bump">
      <div class="box1">
        <input type="checkbox" id="clothing" name="Intresse" value="Sport">
        <label for="clothing" class="check-box"></label>
        <h4>Sports</h4>
      </div>
      <div class="box1">
        <input type="checkbox" id="equipment" name="Intresse" value="Music">
        <label for="equipment" class="check-box"></label>
        <h4>Music</h4>
      </div>
      <div class="box1">
        <input type="checkbox" id="trips" name="Intresse" value="Food">
        <label for="trips" class="check-box"></label>
        <h4>Food</h4>
      </div>
      <div class="box1">
        <input type="checkbox" id="social" name="Intresse" value="Sport">
        <label for="social" class="check-box"></label>
        <h4>Drinks</h4>
      </div>
    </div>
  </div>

<div class="slidecontainer">
  <input type="range" min="1" max="60" class="slider" id="myRange" name="Leeftijd" value="30">
  <p>Leeftijd <span id="demo"></span></p>
</div>

  <button type="submit">Opslaan</button>

  <!--END PRICE RANGE-->
</form>


    {{!-- Section 3 --}}
    <section>

        {{!-- Loop met hbs om alle dieren te weergeven --}}
        {{#each gebruikers}}
        <a href="#">
            <img class"gebruikers" src={{this.imgSrc}} alt="Foto van persoon" />
            <div>
                <h3>{{this.naam}}</h3>
                <h4>{{this.budget}}</h4>
                <p>{{this.locatie}}</p>
            </div>
        </a>
        {{/each}}
    </section>
    </main>